<div class="app">
{%extends "layout.njk"%}
    {%block content%}
        <div class="recipe">
            <img src="{{items.image}}" alt="{{items.title}}">
        </div>
        <script src="scripts.js"></script>    
    {% endblock %}
</div>