<div class="app">
{%extends "layout.njk"%}
    {%block content%}
        <div class="recipe__details" id="{{items.id}}" >
            <div class="recipe__image">
                <img src="{{items.image}}" alt="{{items.title}}">
            </div>
            <div class="recipes__information">
                <h2 class="recipe__title">{{items.title}}</h2>
                <p class="recipe__author">por {{items.author}}</p>
            </div>
            <div class="igredientes">
                <h3>Igredientes</h3>
                <a class="button">Esconder</a>
                <div class="content_igredients">
                    <ul>
                        {%for ingredients in items.ingredients%}
                        <li>{{ingredients}}</li>
                        {%endfor%} 
                    </ul>
                </div>
            </div>
        </div>
        <script src="scripts.js"></script>
    {% endblock %}
</div>