<div class="app">
{%extends "layout.njk"%}
{%block content%}

    <section class="banner">
        <div class="banner-text">
            <h3>As melhores receitas</h3>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionaisdo mundo inteiro</p>
        </div>
        <div class="banner-img">
            <img src="/assets/chef.png" alt="">
        </div>
    </section>
    <div id="wrapper">
        <h3>Mais Acessadas</h3>
    </div>
    <article class="recipes">
        {# para rodar todos os cards pode ser usado o for, assim não tera que codificar 12 cards #}
        {# a cada items o for vai chamar um item nome que foi dado ao array que esta no aquivo server #}
        {# para chamar a o elemento do array basta usar {{nome.do.elemento}} #}
        {%for item in items%}
            {%if item.display_on%}       
                <div class="recipe__content" id="{{item.id}}" >
                    <div class="recipes__image-container">
                        <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/{{item.id}}.png" alt="{{item.title}}">
                    </div>
                    <div class="recipes__info">
                        <h4 class="recipes__name">{{item.title}}</h4>
                        <p class="chef">{{item.author}}</p>
                    </div>
                </div>
            {%endif%}
        {%endfor%}          
    </article>
{% endblock %}
</div>