<div class="app">
{%extends "layout.njk"%}

{%block content%}
    <main>
        <div class="title">
            <h2>Sobre o Foodfy</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore quia dolorem laudantium ut quisquam cupiditate aperiam eveniet voluptas debitis, recusandae officiis et, adipisci ipsam sapiente. Ducimus sed sint distinctio molestias?</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex eius sequi doloremque aperiam distinctio, dolorem nisi exercitationem enim dolorum voluptates! Quos eveniet nemo numquam exercitationem cupiditate dolores magnam nobis culpa.</p>
            <br>
        </div>
        <div class="subtitle1">
            <h3>Como tudo começou...</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum voluptatibus, earum rem est, ipsum fugiat quis fuga, dolorem neque praesentium porro. Facere ducimus vero ipsa accusantium, consequatur quasi quae nobis!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quo deserunt repellendus soluta cum recusandae eaque quidem temporibus rem id aspernatur maxime obcaecati beatae rerum adipisci ipsam, amet mollitia aliquid.</p>
            <br>
        </div>
        <div class="subtitle2">
            <h3>Nossas Receitas</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem tempora accusantium tenetur repudiandae esse placeat atque perspiciatis. Suscipit asperiores deleniti quasi similique aut exercitationem, incidunt earum atque vero quam ducimus.</p>
        </div>
    </main>
{%endblock%}
</div>